body {
  margin: 0;
  background: #ccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clearfix {
  overflow: auto;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-wrap: nowrap;
  background: #ccc;
}
.size-33 {
  width: 31%;
  margin-left: 2%;
  margin-bottom: 20px;
}
